@import "variables";

@mixin button($font-color, $background-color, $border-color) {
    border: 1px solid $border-color;
    background-color: $background-color;
    color: $font-color;

    &:disabled {
        background-color: lighten($background-color, 12%);
    }
}

@mixin button-hover($font-color, $background-color) {
    &:not(:disabled):hover {
        background-color: $font-color;
        color: $background-color;
    }
}

@mixin ball-clip-rotate-animation($width, $height, $border-width) {
    width: $width;
    height: $height;

    border: $border-width solid #737373;
    border-radius: 100%;
    border-bottom-color: transparent;

    animation: rotate 0.625s 0s linear infinite;
}

@mixin shadow {
    box-shadow: 0 0.25rem 0.625rem 0.25rem rgba(0, 0, 0, 0.06);
}

@mixin theme($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
}

@mixin interaction {
    &:focus,
    &:active {
        @content;
    }
}
