$light: #eaeaea;
$yellow: #f8e473;
$fire: #fda50f;
$black: #37352f;
$grey: #fafafa;

$light-grey: #c7c7c7;
$light-green: #e6edb7;


$primary-grey: #737373;
$primary-blue: #00b2d1;
$primary-red: #ff4949;
$primary-white: #ffffff;
$primary-green: #57bc3c;
$primary-orange: #fda50f;
$primary-pink: #f6b7ac;

$secondary-grey: #b2bec3;


// Colors


$primary-color: #2d3436;
$danger-color: #ff4949;
$success-color: #57bc3c;
$secondary-color: #b2bec3;
$purple-color: #8572a5;
$dark-purple-color: #494452;
$blue-color: #00b2d1;
$blue-color2: #9cd9e6;
$blue-color3: #63b4c7;
$blue-color-test: #2eaadc;
$primary-black: #37352f;

$blue-color-selection: rgba(45, 170, 219, 0.3);

$pink-color: #f6b7ac;
$orange-color: #ff4500;
$background-gray-color: #f0f0f0;
$grey-color: #737373;
// $grey-color-2: #c7c7c7;
$grey-color-3: #5b5b5b;
$grey-color-4: #f9f9f9;

$invalid-input-1: #f9dbd2;
$invalid-input-2: #ee3e54;
$scarlet: #f9dbd2;

$valid-input-1: #e6edb7;
$valid-input-2: #93bc39;

$danger: $primary-red;
$success: $primary-green;
$secondary: $grey-color-3;
$primary: $primary-blue;
$warning: $fire;
$invalid: $primary-pink;

$borders-color: $light-grey;
$label-color: $grey-color-3;




$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "invalid":    $invalid,
  "light-grey": $background-gray-color,
  "highlight":  lighten($light, 3%)
) !default;

$header-height: 3.5rem;