@import "../base/typography";
@import "../abstracts/variables";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-black;
  // font-family: "Open Sans";
}

*::selection {
  background-color: $blue-color-selection;
}

html,
body {
  height: 100%;
}

p {
  padding-top: 0.25rem;
  font-family: "Nimbus Sans D";
  font-size: 0.9375rem;
}

.not-btn {
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.not-select {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
}

a {
  // font-weight: bold;
  // color: $primary-blue;
  text-decoration: none;
  font-family: "Nimbus Sans D";
}

button {
  font-family: "Nimbus Sans D";;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nimbus Sans D";
}

.bg-grey {
  background-color: $grey;
}