<div class="d-flex h-fill justify-content-center">
    <div class="my-sm-auto login w-100 p-5 bg-grey">

        <h3 class="mb-3 fw-bold text-decoration-underline">Log In</h3>

        <ng-container *ngIf="errors?.length">
            <div class="alert alert-invalid fw-bold alert-dismissible">
                <div *ngFor="let error of errors">{{ error }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </ng-container>

        <ng-container *ngIf="isLoading">
            <div class="d-flex justify-content-center my-5">
                <app-loading-indicator-small [isLoading]="isLoading"></app-loading-indicator-small>
            </div>
        </ng-container>

        <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">

            <ng-container *ngIf="!isLoading">

                <div class="mb-3">
                    <label>Username</label>
                    <input class="form-control" type="text" placeholder="Username" formControlName="username">
                    <div *ngIf="controls.username.touched && controls.username.invalid"
                        class="invalid-feedback fw-bold d-block">
                        Username is required
                    </div>
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <div class="input-group">
                        <input class="form-control" [type]="showPassword ? 'text' : 'password'" placeholder="Password"
                            formControlName="password">
                        <div class="input-group-text">
                            <div class="d-flex justify-content-center form-check">
                                <input [(ngModel)]="showPassword" class="form-check-input" type="checkbox"
                                    id="showPassword">
                                <label class="form-check-label ms-1" for="showPassword">Show</label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="controls.password.touched && controls.password.invalid"
                        class="invalid-feedback fw-bold d-block">
                        Password is required
                    </div>
                </div>

            </ng-container>

            <div class="d-flex align-items-center">
                <div class="w-50">
                    <button class="w-100 btn btn-primary text-white fw-bold">Log In</button>
                </div>
                <div class="w-50 p-1 bg-light-grey">
                    <div class="d-flex justify-content-center form-check">
                        <input class="form-check-input" type="checkbox" id="stayLogged" [(ngModel)]="stayLogged">
                        <label class="form-check-label ms-1" for="stayLogged">Stay logged in</label>
                    </div>
                </div>
            </div>

        </form>

        <div class="d-flex justify-content-center fw-bold mt-4">
            <a class="link-primary fs-small align-self-center" href="#">Create an account</a>
            <div class="px-1 mb-1">&middot;</div>
            <a class="link-primary fs-small align-self-center" href="#">Trouble logging in?</a>
        </div>

    </div>
</div>