@import "../abstracts/variables";

.show-password {
    height: 38px;
    padding: 0 0.75rem !important;
    background-color: $background-gray-color;
    border: 1px solid $borders-color;
    border-left: none;

    label {
        padding-left: 0.5rem;
    }
}
