<div class="container-md">
    <div class="d-flex justify-content-between mt-4">
        <div>
            <h2><u>Data Api</u></h2>
            <h6>Api Url: {{environment.apiUrl}}</h6>
        </div>
        <div class="text-end">
            <h2><u>Application</u></h2>
            <h6>Environment: {{environment.envName}}</h6>
            <h6>Version: {{version}}</h6>
        </div>
    </div>

</div>

<!-- <div class="home d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1>Welcome to system!</h1>
         <h3 *ngIf="!isAuthenticated()">Log in or sign in to continue.</h3>
    </div>
</div> -->