$sheet-height: 8rem;
$sheet-focus-background-color: $light;
$navigation-statistics-width: 16rem;

app-sheet {
    min-width: 0;
}

.sheet {
    // cursor: pointer;
    width: 100%;
    min-width: 0;
    background-color: #f6f6f6;
    border: 0.0625rem solid darken(#f6f6f6, 5%);
    height: $sheet-height;
    border-radius: 0;
    flex-direction: column;
    font-family: "Abeezee";

    &-today {
        // background-color: darken(#f6f6f6, 10%);
        background-color: $yellow;
        // background-color: lighten($fire, 20%);

        &:hover {
            background-color: $yellow !important;
        }
        // background-color: lighten($fire, 20%);
    }

    &-header {
        color: $primary-black;
        padding: 0.5rem 1rem;
        font-family: "Abeezee";
        font-weight: bold;
        background-color: #eaeaea;
        border: 1px solid darken(#eaeaea, 2.5%);
    }

    &-title {
        font-family: "Abeezee";
        color: #737373;
        font-weight: bold;
        font-size: 14px;
        align-self: flex-end;
        padding: 0 0.5rem;
    }

    &:hover {
        background-color: $sheet-focus-background-color;
    }

    &-secondary {
        background-color: #ffffff;

        &-title {
            color: $secondary-color;
        }

        &:hover {
            background-color: lighten($sheet-focus-background-color, 5%);
        }
    }
}

.calendar {
    display: flex;
    flex-flow: column;
    border: 0.0625rem solid #e9e9e9;

    &-content {
        min-height: $sheet-height * 4;
    }

    &-navigation {
        font-family: "Inter";
        align-items: center;
        margin: 1rem 0;

        .navigation-controls {
            &-item {
                margin-right: 0.25rem;
            }
        }

        .navigation-date {
            &-year {
                color: $primary-black;
                font-size: 3rem;
                font-weight: bold;
                // user-select: none;
            }

            &-month {
                color: $primary-black;
                border: none;
                background: #fff;
                font-size: 1rem;
                font-weight: bold;
                margin: 0 3rem;
                user-select: none;
                cursor: pointer;
                outline: none !important;

                &:hover {
                    color: $fire;
                    // color: darken($yellow, 20%);
                    &:disabled {
                        cursor: default;
                    }
                }
            }
        }

        .navigation-statistics {
            font-family: "Nimbus Sans D";
            width: $navigation-statistics-width;
            justify-content: flex-end;

            &-details {
                &-item {
                    margin: 0.125rem 0;
                    font-size: 0.8125rem;
                    line-height: 1rem;
                    border-bottom: 0.0625rem solid $light;
                }
            }

            &-total {
                padding-left: 1rem;
                font-size: 2rem;
            }
        }
    }
}

$expenses-padding-x: 0.25rem;
$expenses-padding-y: 0;

$expense-padding-bottom: 0.0625rem;
$expense-font-size: 0.8125rem;
$expense-line-height: 1.0625rem;

$cost-margin-left: 0.25rem;

.notes {
    padding: $expenses-padding-y $expenses-padding-x;

    .note {
        display: flex;
        padding-bottom: $expense-padding-bottom;

        font-family: "Inter";
        font-size: $expense-font-size;
        line-height: $expense-line-height;

        .cost {
            font-weight: bold;
        }

        .category {
            display: -webkit-box;
            margin-left: $cost-margin-left;
        }

        &-important {
            font-weight: bold;
        }
    }

    .break {
        background: none;
        border: none;

        @include interaction {
            outline: none;
        }

        // padding: 0 0.25rem;
        color: $primary-grey;
        line-height: 0.5rem;
        font-size: 1.75rem;
    }
}
