// Buttons
// $button-border-width: 1px;
// $button-font-weight: bold;

$primary-grey: #737373;
$primary-blue: #00b2d1;
$primary-red: #ff4949;
$primary-white: #ffffff;
$primary-green: #19cc95;
$primary-orange: #fda50f;

$secondary-grey: #b2bec3;
$light-grey: #c7c7c7;

// Colors
$light: #eaeaea;

$primary-color: #2d3436;
$danger-color: #ff4949;
$success-color: #19cc95;
$secondary-color: #b2bec3;
$purple-color: #8572a5;
$dark-purple-color: #494452;
$blue-color: #00b2d1;
$blue-color2: #9cd9e6;
$blue-color3: #63b4c7;
$blue-color-test: #2eaadc;
$primary-black: #37352f;

$blue-color-selection: rgba(45, 170, 219, 0.3);

$pink-color: #0c0706;
$orange-color: #ff4500;
$background-gray-color: #f0f0f0;
$grey-color: #737373;
// $grey-color-2: #c7c7c7;
$grey-color-3: #5b5b5b;
$grey-color-4: #f9f9f9;

$invalid-input-1: #f9dbd2;
$invalid-input-2: #ee3e54;

$valid-input-1: #e6edb7;
$valid-input-2: #93bc39;

$yellow: #f8e473;
$fire: #fda50f;
$danger: $primary-red;
$success: $primary-green;

$warning: $fire;

$header-background: $primary-white;

$borders-color: $light-grey;
$label-color: $grey-color-3;
