<div class="form-input-label">
    <label class="label-text" [for]="name">{{ name }}</label>
    <a class="label-link" [href]="href">{{ linkText }} </a>
</div>
<div class="form-input" [ngClass]="{ focused: isFocused }">
    <input
        (focus)="onFocus($event)"
        (focusout)="onFocus(!$event)"
        class="form-input-password"
        [type]="showPassword ? 'text' : 'password'"
        [id]="name"
    />
    <app-checkbox
        class="background-gray"
        (checked)="onShowPassword($event)"
        name="showPassword"
        label="Show"
    ></app-checkbox>
</div>
