$header-height: 4.5rem;

$header-padding-x: 0;
$header-padding-y: 0.75rem;

$nav-item-margin-left: 2.5rem;
$nav-link-font-size: 14px;
$nav-link-line-height: 1.5rem;

$nav-link-after-height: 0.1875rem;
$nav-link-after-width: 1.5rem;
$nav-link-after-top: 2rem;
$nav-link-after-left: 50%;

.header {
    display: flex;
    height: $header-height;
    padding: $header-padding-y $header-padding-x;
    background: $header-background;
    font-family: "Inter";

    @include shadow();

    .navbar {
        align-items: center;

        .nav-item {
            margin-left: $nav-item-margin-left;

            .nav-link {
                position: relative;
                font-size: $nav-link-font-size;
                font-weight: bold;
                line-height: $nav-link-line-height;
            }

            .active {
                &:after {
                    content: "";
                    position: absolute;

                    top: $nav-link-after-top;
                    left: $nav-link-after-left;

                    width: $nav-link-after-width;
                    height: $nav-link-after-height;

                    background: $primary-blue;

                    transform: translateX(-50%);
                }
            }
        }

        .logo img {
            height: 48px;
        }
    }
}

.header-line {
    padding-bottom: $header-height;
}
