<div [ngClass]="{ 'sheet-secondary': !isCurrentMonth, 'sheet-today': isToday }" class="sheet w-100 d-flex">
    <div [ngClass]="{ 'sheet-secondary-title': !isCurrentMonth }" class="sheet-title">
        {{ day }}
    </div>

    <ng-container *ngIf="expenses.length || incomes.length">
        <div class="expenses">
            <ng-container *ngFor="let expense of expenses">
                <div class="expense negative">
                    <div class="cost">{{ expense.amount | negative }}</div>
                    <div class="category text-truncate">{{ expense.category.name }}</div>
                </div>
            </ng-container>
            <ng-container *ngFor="let income of incomes">
                <div class="expense positive">
                    <div class="cost">{{ income.amount | positive }}</div>
                    <div class="category text-truncate">{{ income.category.name }}</div>
                </div>
            </ng-container>
            <!-- <ng-container *ngIf="expenses.length > 5">
                <button class="break">&middot;&middot;&middot;</button>
            </ng-container> -->
        </div>
    </ng-container>

    <!-- <div class="ball-clip-rotate"><div></div></div> -->
</div>
