<header class="header fixed-top">
    <div class="container">
        <div class="navbar navbar-expand-md navbar-light">
            <div class="logo">
                <a routerLink="" routerLinkActive="active">
                    <img src="/assets/images/sheep3.png" />
                </a>
            </div>
            <div *ngIf="environment" class="ml-3 p-2 bg-light-grey"
                style="font-size: 0.9125rem; background-color: #f0f0f0;">{{environment}}</div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                    </li>

                    <ng-container *ngIf="!isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="transactions" routerLinkActive="active">Transactions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="reports" routerLinkActive="active">Reports</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" routerLink="help" routerLinkActive="active">Help</a>
                        </li>

                        <li class="nav-item d-flex align-items-center">
                            <a *ngIf="getCurrentUser()">{{getCurrentUser().unique_name}},&nbsp;</a>
                            <button class="nav-link not-btn" (click)="logout()">Logout</button>
                        </li>
                    </ng-container>

                </ul>
            </div>
        </div>
    </div>
</header>
<div class="header-line"></div>