@import "../abstracts/variables";

.bg {
    &-grey {
        background-color: #fafafa;
    }

    &-dark-grey {
        background-color: $background-gray-color;
    }

    &-pink {
        background-color: $primary-pink;
    }

    &-light-green {
        background-color: $light-green;
    }
}
