<div class="login-form d-flex justify-content-center align-items-center">
    <div style="min-width: 500px; width: 25%">
        <form (ngSubmit)="onSubmit()" #form="ngForm">

            <div class="form p-4 bg-grey">

                <div class="form-error mb-3 p-3 bg-pink rounded" *ngIf="errors && errors.length">
                    <p *ngFor="let error of errors" class="fw-bold text-secondary">{{error}}</p>
                </div>

                <div class="form-error mb-3 p-3 bg-light-green rounded" *ngIf="success">
                    <p class="fw-bold text-secondary">You have been successfully registered! You will be redirected to Login page in 5 seconds.</p>
                </div>

                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input class="form-control" placeholder="Username..." type="text" name="username" id="username" required [(ngModel)]="username" #usernameField="ngModel" />
                    
                    <ng-container *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched)">
                        <p class="fw-bold text text-danger">Username is required</p>
                    </ng-container>
                    
                </div>

                <div class="mb-3">
                    <label for="password">Password: </label>
                    <div class="d-flex align-items-center">
                        <input class="form-control" required [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                            placeholder="Password..." [(ngModel)]="password" #passwordField="ngModel" />
                        <div class="form-check show-password d-flex align-items-center justify-content-center">
                            <input novalidate class="form-check-input mt-0" type="checkbox" id="showPassword" name="showPassword" [(ngModel)]="showPassword" />
                            <label class="form-check-label user-select-none" for="showPassword">Show</label>
                        </div>
                    </div>
                    
                    <ng-container *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
                        <p class="fw-bold text text-danger">Password is required</p>
                    </ng-container>
                </div>

                <div class="mb-3">
                    <label for="email">Email:</label>
                    <input class="form-control" placeholder="Email..." type="text" name="email" id="email" required [(ngModel)]="email" #emailField="ngModel" />
                    
                    <ng-container *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
                        <p class="fw-bold text text-danger">Email is required</p>
                    </ng-container>
                </div>

                <div class="mb-3">
                    <label for="firstName">First name:</label>
                    <input class="form-control" placeholder="First name..." type="text" name="firstName" id="firstName" required [(ngModel)]="firstName" #firstNameField="ngModel" />
                    
                    <ng-container *ngIf="firstNameField.invalid && (firstNameField.dirty || firstNameField.touched)">
                        <p class="fw-bold text text-danger">First name is required</p>
                    </ng-container>
                </div>

                <div class="mb-3">
                    <label for="lastName">Last name:</label>
                    <input class="form-control" placeholder="Last name..." type="text" name="lastName" id="lastName" required [(ngModel)]="lastName" #lastNameField="ngModel" />
                    
                    <ng-container *ngIf="lastNameField.invalid && (lastNameField.dirty || lastNameField.touched)">
                        <p class="fw-bold text text-danger">Last name is required</p>
                    </ng-container>
                </div>

                <div class="d-flex">
                    <div class="w-50">
                        <button class="btn btn-secondary w-100 fw-bold" type="submit" >Sign In</button>
                    </div>
                    <div class="w-50">
                        <div class="form-check py-2 d-flex align-items-center justify-content-center bg-dark-grey">
                            <input novalidate class="form-check-input mt-0" type="checkbox" id="stayLoggedIn" />
                            <label class="form-check-label ms-2 user-select-none" for="stayLoggedIn">Stay logged in</label>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <a class="secondary-link" routerLink="/login">Already have an account?</a>
                    <p class="px-1 pt-0">&middot;</p>
                    <a class="secondary-link" routerLink="help">Trouble logging in?</a>
                </div>
               
            </div>
        </form>
    </div>
</div>