<div class="form-group">
    <div class="form-input-label">
        <label class="label-text" [for]="name">{{ name }}</label>
        <a class="label-link" *ngIf="linkText && href" [href]="href">{{ linkText }}</a>
    </div>
    <div class="form-input" [ngClass]="{ focused: isFocused }">
        <input
            (focus)="onFocus($event)"
            (focusout)="onFocus(!$event)"
            class="form-input-username"
            type="text"
            [id]="name"
        />
    </div>
</div>
