<label class="label" [for]="name" [innerHTML]="label" *ngIf="label"></label>
<div class="d-flex align-items-center">
    <input
        class="password"
        [type]="showPassword ? 'text' : 'password'"
        [id]="name"
        [placeholder]="placeholder"
        [(ngModel)]="model"
        (focus)="onFocus($event)"
        (focusout)="onFocus(!$event)"
        [disabled]="disabled"
    />
    <div class="show-password">
        <input class="checkbox" type="checkbox" id="showPassword" [(ngModel)]="showPassword" />
        <label for="showPassword">Show</label>
    </div>
</div>
