@import "../base/typography";
@import "../abstracts/variables";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $primary-black;
    // font-family: "Open Sans";
}

*::selection {
    background-color: $blue-color-selection;
}

html,
body {
    height: 100%;
}

// Move to another file

.background-gray {
    background-color: $background-gray-color;
}

.w-50 {
    width: 50%;
}

.badge {
    line-height: normal !important;
}
