@import "../base/typography";
@import "../abstracts/variables";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $primary-black;
    // font-family: "Open Sans";
}

*::selection {
    background-color: $blue-color-selection;
}

html,
body {
    height: 100%;
}
